# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User files
*.user

/.vs/Timer/v16/Preview
/x64
/Release
/Debug
/.vs/Timer/v16
/TimerTest/x64
/TimerTest/Release
/TimerTest/Debug
/TimerMain/x64
/TimerMain/Release
/TimerMain/Debug
